TIMEZONE = Asia/Shanghai
DATABASE_TYPE = postgres
DATABASE_HOST = localhost
DATABASE_PORT = 5432
DATABASE_USER = postgres
DATABASE_PASS = ""
DATABASE_NAME = resummer
LOG_LEVEL = debug
LOG_OUTPUT = /logs/resummer.log
JWT_SECRET = "JWT_SECRET"
